@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
  
  /* -------------------- Root Styles------------------- */
  :root {
    --coral-orange: rgb(255, 87, 51);
    --dark-blue: rgb(84, 88, 113);
  }
  
  /* -------------------------- Fonts ------------------------- */
  /* @font-face {
    font-family: "circular-medium";
    src: url("./fonts/CircularStd-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "circular-book";
    src: url("./fonts/CircularStd-Book.woff") format("woff");
  } */
  
  /* body {
    font-family: circular-book;
  } */
  
  /* ------------------- create and view section -------------------- */
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--coral-orange);
    margin-top: 50px; 
    width: 1000px;
    border-radius: 10px;
  }
  
  .header > div {
    margin: 20px;
  }
  
  .forms > label {
    font-size: 17px;
    margin: 3% 0;
  }
  
  .forms > button {
    margin: 8% 0;
    background-color: var(--dark-blue);
    color: white;
  }
  
  .one-journal > div > .btn {
    background-color: var(--dark-blue);
    color: white;
    margin: 10px 10px 10px 0;
  }
  
  .one-journal > h3 {
    font-size: 23px;
    text-transform: uppercase;
  }
  
  .forms > textarea,
  .forms > input {
    border: none;
    border-radius: 2px;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
    resize: none; /*remove the resize handle on the bottom right*/
  }
  
  /* ------------------------------- update Journals ----------------------------- */
  
  .update-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--coral-orange);
    margin: auto;
    margin-top: 50px;
    width: 1000px;
    border-radius: 10px;
  }
  
  .update-header h3 {
    margin: 20px 0 20px 0;
    font-size: 35px;
  }
  
  /* -------------------- View one styling --------------------- */
  
  .view-journal {
    background-color: var(--coral-orange);
    width: 900px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .view-journal h3 {
    font-size: 34px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(92, 92, 92);
    width: 30%;
    padding-bottom: 7px;
  }
  
  .view-journal p {
    font-size: 25px;
  }
  
  .view-journal > .btn {
    background-color: var(--dark-blue);
    color: white;
    margin: 10px 10px 10px 0;
  }